@font-face {
    src: url(fonts/ProximaNova-Regular.otf);
    font-family: pro;
}

html {
    height: 100%;
}


body {
    background-color:white;
    /* background-image: url(images/sushi.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.logo {
    width: 400px;
    text-align: 100px;
    padding-top: 20px;
    opacity: 0.8;

}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.navigator {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

header {
    /* background-color: blue; */
    height: 80px;
    padding-top: 40px;
    text-align: center;


}

nav {
    /* background-color: red; */
    height: 70px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

main {
    /* background-color: orange; */
    height: 500px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
}

footer {
    /* background-color: greenyellow; */
    height: 100px;
}

h1 {
    font-size: 84px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(204, 42, 42);
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: pro;
    letter-spacing: 2px;

}

nav a:hover {
    color: #a8a8a8;
}

section {
    text-align: center;
    
}

section iframe{
    width: 750px;
    height: 435px;
    padding-bottom: 30px;
    padding-left: 17px;
    padding-right: 17px;
    
}

@media screen and (max-width: 768px){
    nav {
        width: 401px;
    }

    nav a {
        padding-left: 10px;
        padding-right: 10px;
    }

    section iframe{
        width: 375px;
        height: 217px;
        
    }
}